<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 200px; background-image: url(https://geoinnova.org/cursos/wp-content/uploads/2016/10/1-11-1024x551.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ventas registradas</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">ID Venta</th>
                <th scope="col">Fecha Entrega</th>
                <th scope="col">Fecha Factura</th>
                <th scope="col">Estado</th>
                <th scope="col">Total</th>
                <th scope="col">Ubicación</th>
                <th scope="col">ID Cliente</th>
                <th scope="col">ID Repartidor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let venta of ventas.ventas">
                <th scope="row">
                      <span class="mb-0 text-sm">{{venta.idVenta}}</span>
                </th>
                <td>
                  {{venta.FechaEntrega}}
                </td>
                <td>
                    {{venta.FechaFacturacion}}
                </td>
                <td>
                  {{venta.Estado}}
                </td>
                <td>
                  {{venta.Total}}
                </td>
                <td>
                  {{venta.Ubicacion}}
                </td>
                <td>
                  {{venta.Cliente_idCliente}}
                </td>
                <td>
                  {{venta.id_repart}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
