<div class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center" style="min-height: 100px; background-image: url(https://geoinnova.org/cursos/wp-content/uploads/2016/10/1-11-1024x551.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
   
  </div>
  
  <nav class="navbar navbar-horizontal navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
         aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
    
     
     
      <!-- Collapse -->
      <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a  routerLinkActive="active" [routerLink]="['/']">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
            <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                    <i class="ni {{menuItem.icon}}"></i>
                    {{menuItem.title}}
                </a>
               
            </li>
           
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
       
      </div>
    </div>
  </nav>
  
  
  
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="https://image.flaticon.com/icons/png/512/16/16199.png" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
               
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                   
                  </div>
                </div>
              </div>
              <div class="text-center">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">REGISTER BODEGA</h3>
                </div>
                <div class="col-4 text-right">
                  <a  (click)="registrar()" class="btn btn-sm btn-primary">save</a>
                </div>
              </div>
            </div>
              <div class="card-body">
              
                  <h6 class="heading-small text-muted mb-4">DATA</h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-username">Nombre</label>
                          <input type="text" [(ngModel)]="nombre" class="form-control form-control-alternative"  >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-email">Decripcion</label>
                          <input type="text" [(ngModel)]="descripcion" class="form-control form-control-alternative" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Estado</label>
                          <input type="text"  [(ngModel)]="estado" class="form-control form-control-alternative"  >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-last-name">ID_Encargado</label>
                          <input type="number" [(ngModel)]="id_encargado" class="form-control form-control-alternative" >
                        </div>
                      </div>
                    </div>
      
                   
                  </div>
                
                 
                 
               
              </div>
            </div>
          </div>
        </div>
      </div>
      
    