<div class="header bg-gradient-danger py-5 py-lg-5">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Practicas Intermedias 1er Semestre 2021.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
         
      
          
         
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" [(ngModel)]= "email" placeholder="email" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" [(ngModel)]= "password" type="password">
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-last-namwe">rol</label>
                <select [(ngModel)]="opcionSeleccionado" class="form-control form-control-alternative">
                  <option *ngFor="let rol of roles">
                    {{rol}}
                  </option>
                </select>
              </div>
            </div>
          
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click) = "btnLogin()">Sign in</button>
            </div>
         
       
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" (click)="recuperar()" class="text-dark"><small>Forgot password?</small></a>
        </div>
       
      </div>
    </div>
  </div>
</div>
