<app-sidebar-repartidor></app-sidebar-repartidor>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar-bodeguero></app-navbar-bodeguero>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
