<!-- Sidenav -->
<app-sidebar-admin></app-sidebar-admin>
<div class="main-content">
  <!-- Top navbar -->
 
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>