<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(https://geoinnova.org/cursos/wp-content/uploads/2016/10/1-11-1024x551.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
 
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="https://www.softzone.es/app/uploads-softzone.es/2018/04/guest.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
           
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
               
              </div>
            </div>
          </div>
          <div class="text-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a (click)="edit()" class="btn btn-sm btn-primary">UPDATE</a>
            </div>
          </div>
        </div>
        <div class="card-body">
        
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" [(ngModel)]="name" class="form-control form-control-alternative"  value="{{name}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="text" [(ngModel)]="email" class="form-control form-control-alternative" value="{{email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-firste-name">Date of Birth</label>
                    <input type="text" id="input-first-najme" [(ngModel)]="fechaN" class="form-control form-control-alternative"  value="{{fechaN}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">DPI</label>
                    <input type="text" id="input-last-namfe" class="form-control form-control-alternative"  value="{{dpi}}"  disabled="disabled">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Password</label>
                    <input type="text" id="input-first-name" [(ngModel)]="password" class="form-control form-control-alternative"  value="{{password}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-namwe">roles</label>
                    <select class="form-control form-control-alternative">
                      <option *ngFor="let rol of roles">
                        {{rol.descripcion}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          
           
           
         
        </div>
      </div>
    </div>
  </div>
</div>
