<div class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center" style="min-height: 100px; background-image: url(https://geoinnova.org/cursos/wp-content/uploads/2016/10/1-11-1024x551.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
 
</div>

<nav class="navbar navbar-horizontal navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
  
   
   
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
             
          </li>
          
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
     
    </div>
  </div>
</nav>



  

<div class="dark">
  <div class="row">
      <div *ngFor="let solicitud of solicitudes" class="col-sm-3">
          <div class="card space" style="width: 20rem;">
              <div class="card-header">
                  Producto
              </div>
              <div class="card-body">
                  
                  <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">ID:</span>
                      </div>
                      <input class="form-control" [(ngModel)] ="solicitud.Id" type="text">
                    </div>
                 
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Estado:</span>
                      </div>
                      <input class="form-control"  [(ngModel)] ="solicitud.Estado" type="text">
                    </div>

                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Creador:</span>
                      </div>
                      <input class="form-control"  [(ngModel)] ="solicitud.Creador" type="text">
                    </div>

                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Bodega Origen:</span>
                      </div>
                      <input class="form-control" [(ngModel)] ="solicitud.Bodega_solicitante" type="text">
                    </div>

                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Descripcion:</span>
                      </div>
                      <input class="form-control" [(ngModel)] ="solicitud.Descripcion" type="text">
                    </div>


                    
                 
                 
                    <button  class="btn btn-warning space"  (click)="Actualizar(solicitud.Id)">Aceptar</button>
                    
              </div>
          </div> 
      </div>
  </div>