<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(https://geoinnova.org/cursos/wp-content/uploads/2016/10/1-11-1024x551.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="https://logodix.com/logo/1707088.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">

          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">

              </div>
            </div>
          </div>
          <div class="text-center">

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">REGISTER SALE</h3>
            </div>
            <div class="col-4 text-right">
              <a (click)="save()" class="btn btn-sm btn-primary">Create</a>
            </div>
          </div>
        </div>
          <div class="card-body">

            <h6 class="heading-small text-muted mb-4">Sale information</h6>
            <div class="pl-lg-4">

              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Fecha Facturación</label>
                    <input type="text" id="input-username" [(ngModel)]="factura" class="form-control form-control-alternative"  value="{{factura}}" disabled={{true}}>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Fecha Entrega</label>
                    <input type="text" id="input-username" [(ngModel)]="entrega" class="form-control form-control-alternative"  value="{{entrega}}" disabled={{!domicilio}}>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Total</label>
                    <input type="text" id="input-username" [(ngModel)]="total" class="form-control form-control-alternative"  value="{{total}}">
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Cliente</label>
                    <select class="form-control form-control-alternative" id="selectPlan" [(ngModel)]="id_cliente" name="selectPlan" >
                      <option [value]="client.idCliente" *ngFor="let client of clientes">{{client.Nombre + " - " + client.Nit}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Entrega a domicilio</label>
                    <input class="form-control " type="checkbox" id="cbox2" [(ngModel)]="domicilio" value="{{domicilio}}">
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Dirección Entrega</label>
                    <input type="text" id="input-username" [(ngModel)]="direccion" class="form-control form-control-alternative"  value="{{direccion}}" disabled={{!domicilio}}>
                  </div>
                </div>

              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

